@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Afstuderen</h1>
        <h3 class="mb-5">
            <em>Dit proof of concept is een onderdeel van het afstudeerproject van Jim Vliegen</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Meer informatie over dit project</a>
    </div>
    <div class="overlay"></div>
</header>


<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Meer informatie over het project.</h2>
                <p class="lead mb-5">


                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed dictum tortor. Aenean id consectetur dui. Aliquam viverra scelerisque mi. Donec nibh neque, vulputate nec blandit non, sagittis nec risus. Proin vel diam tempus, ullamcorper dolor sit amet, volutpat eros. Integer ac commodo nulla. Etiam non congue quam. Donec ultricies tempor sollicitudin. Donec quis scelerisque purus. Proin pretium malesuada diam vitae tincidunt.

                    Pellentesque blandit nibh eget ante interdum, sit amet malesuada leo laoreet. Aenean porttitor ultricies erat, placerat ultricies tortor pretium vel. Morbi venenatis ut est sed pulvinar. Nam tempus sem sit amet ultricies interdum. Morbi id metus eu turpis rutrum ultrices nec id erat. Nam pulvinar ultricies velit at tristique. Proin volutpat viverra metus, sit amet eleifend diam ultricies ac. Sed ac mi ac sem ornare suscipit consequat ut sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum convallis sed leo malesuada rhoncus. Donec malesuada interdum aliquam.
                </p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Kwetsbaarheden in dit project</a>
            </div>
        </div>
    </div>
</section>


<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">Kwetsbaarheden:</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-smartphone"></i>
                </span>
                <h4>
                    <strong>SQL Injection</strong>
                </h4>
                <p class="text-faded mb-0">Een loginscherm voor SQL Injection.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-speech"></i>
                </span>
                <h4>
                    <strong>Cross-Site Scripting</strong>
                </h4>
                <p class="text-faded mb-0">Hoi Iris</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-key"></i>
                </span>
                <h4>
                    <strong>Broken Authentication</strong>
                </h4>
                <p class="text-faded mb-0">
                    Millions of users
                    <i class="fas fa-heart"></i>
                    Start Bootstrap!
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mustache"></i>
                </span>
                <h4>
                    <strong>Question</strong>
                </h4>
                <p class="text-faded mb-0">I mustache you a question...</p>
            </div>
        </div>
    </div>
</section>

